{{> head}}

{{> navbar}}

<div class="row">
  <div class="col-8">
    <h1>Horizon Zero Dawn</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed metus pharetra, dictum lorem nec, rhoncus nunc.
      Etiam posuere risus a volutpat faucibus. Cras sed sagittis quam. Morbi ullamcorper faucibus odio vitae tempus. Ut
      imperdiet elit sapien. Donec vel ultricies felis, non euismod enim. Aenean eleifend metus eu dignissim placerat.
      Vivamus in massa vulputate, tempus neque quis, porttitor magna.
    </p>
  </div>
  <div class="col-4">
    <img src="http://localhost:3000/assets/img/horizon.jpg" class="img-thumbnail" alt="imagen">
  </div>
</div>

{{> footer}}